*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #0b0a08;
  font-size: 18px;
  font-family: "jost", sans-serif;
  color: #fff;
}

.btn {
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.65px;
  line-height: 38px;
  padding: 0px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all ease 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn--secondary:hover {
  background-color: #fff;
  color: #000;
}

.header {
  background-image: url("../img/bg-header.jpg");
  background-color: #000;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.65;
  inset: 0;
}
.header__contact--wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1215686275);
  position: relative;
  z-index: 2;
}
.header__contact {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 23.24px;
  padding: 17px 0;
  position: relative;
  z-index: 2;
}
.header__contact--location i {
  margin-right: 12px;
}
.header__contact--address {
  display: flex;
  gap: 0 30px;
}
.header__contact--address__phone i {
  margin-right: 12px;
}
.header__contact--address__mail i {
  margin-right: 12px;
}
.header__navbar {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header__navbar--logo {
  width: 20%;
}
.header__navbar--logo img {
  width: 40px;
  object-fit: cover;
}
.header__navbar--menu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}
.header__navbar--menu__item {
  list-style: none;
  height: 100%;
}
.header__navbar--menu__link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 20px 0;
}
.header__navbar--menu__link i {
  font-size: 10px;
  margin-left: 8px;
}
.header__navbar--menu__link span {
  position: relative;
}
.header__navbar--menu__link span::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #dd5903;
  transition: all ease 0.25s;
}
.header__navbar--menu__link:hover span::after {
  width: 100%;
}
.header__navbar--menu__link.active span::after {
  width: 100%;
}
.header__navbar--button {
  margin-left: auto;
}

/*# sourceMappingURL=main.css.map */
