.poster__food {
    min-height: 500px;
    background-image: url('../img/section-4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
