$heading-font: 'Cormorant Garamond', sans-serif;
$subheading-font: 'jost', sans-serif;
$primary-color: #dd5903;
$secondary-color: #c59764;
$bg-color: #0b0a08;
$text-color: #fff;
$content-color: #d3d3d3;
$letter-spacing: 0.65px;
